/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

/* Estilos para formularios */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form label {
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #4cae4c;
}
